<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [44]:
!pip install sqlalchemy==1.3.9
!pip install ipython-sql

Collecting sqlalchemy==1.3.9
  Using cached SQLAlchemy-1.3.9-cp39-cp39-win_amd64.whl
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.20
    Uninstalling SQLAlchemy-2.0.20:
      Successfully uninstalled SQLAlchemy-2.0.20
Successfully installed sqlalchemy-1.3.9

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
ipython-sql 0.5.0 requires sqlalchemy>=2.0, but you have sqlalchemy 1.3.9 which is incompatible.

Requirement already satisfied: ipython-sql in c:\users\ravi tej\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: sqlparse in c:\users\ravi tej\anaconda3\lib\site-packages (from ipython-sql) (0.4.4)
Collecting sqlalchemy>=2.0
  Using cached SQLAlchemy-2.0.20-cp39-cp39-win_amd64.whl (2.0 MB)
Requirement already satisfied: six in c:\users\ravi tej\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: prettytable in c:\users\ravi tej\anaconda3\lib\site-packages (from ipython-sql) (3.8.0)
Requirement already satisfied: ipython in c:\users\ravi tej\anaconda3\lib\site-packages (from ipython-sql) (7.31.1)
Requirement already satisfied: ipython-genutils in c:\users\ravi tej\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\ravi tej\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (1.1.1)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\ravi tej\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.3.0)
Requirement already satisfied: pickleshare in c:\users\ravi tej\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\ravi tej\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.20)
Requirement already satisfied: backcall in c:\users\ravi tej\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in c:\users\ravi tej\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: setuptools>=18.5 in c:\users\ravi tej\anaconda3\lib\site-packages (from ipython->ipython-sql) (63.4.1)
Requirement already satisfied: jedi>=0.16 in c:\users\ravi tej\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: decorator in c:\users\ravi tej\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: colorama in c:\users\ravi tej\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.5)
Requirement already satisfied: traitlets>=4.2 in c:\users\ravi tej\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: pygments in c:\users\ravi tej\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.11.2)
Requirement already satisfied: wcwidth in c:\users\ravi tej\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\ravi tej\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
Successfully installed sqlalchemy-2.0.20

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [45]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [46]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [47]:
!pip install -q pandas==1.1.5

In [48]:
%sql sqlite:///my_data1.db

Traceback (most recent call last):
  File "C:\Users\RAVI TEJ\anaconda3\lib\site-packages\sql\magic.py", line 203, in execute
    conn.internal_connection.rollback()
AttributeError: 'Connection' object has no attribute 'rollback'

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['sqlite:///my_data1.db'])

In [50]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
# df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")
df

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing_Outcome
0,2010-04-06,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,2010-08-12,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,2012-05-22,07:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,2012-08-10,00:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,2013-01-03,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt
...,...,...,...,...,...,...,...,...,...,...
96,2020-05-11,23:24:23,F9 B5B1062.1,CCAFS SLC-40,"GPS III-04 , Crew-1",4311,MEO,USSF,Success,Success
97,2020-11-16,00:27:00,F9 B5B1061.1,KSC LC-39A,"Crew-1, Sentinel-6 Michael Freilich",12500,LEO (ISS),NASA (CCP),Success,Success
98,2020-11-21,17:17:08,F9 B5B1063.1,VAFB SLC-4E,"Sentinel-6 Michael Freilich, Starlink 15 v1.0",1192,LEO,NASA / NOAA / ESA / EUMETSAT,Success,Success
99,2020-11-25,02:13:00,F9 B5 B1049.7,CCAFS SLC-40,"Starlink 15 v1.0, SpaceX CRS-21",15600,LEO,SpaceX,Success,Success
100,2020-06-12,16:17:08,F9 B5 B1058.4,KSC LC-39A,SpaceX CRS-21,2972,LEO (ISS),NASA (CRS),Success,Success

**Note:This below code is added to remove blank rows from table**

In [7]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Traceback (most recent call last):
  File "C:\Users\RAVI TEJ\anaconda3\lib\site-packages\sql\magic.py", line 203, in execute
    conn.internal_connection.rollback()
AttributeError: 'Connection' object has no attribute 'rollback'

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['sqlite:///my_data1.db'])

In [51]:
df.dtypes

Date                 object
Time (UTC)           object
Booster_Version      object
Launch_Site          object
Payload              object
PAYLOAD_MASS__KG_     int64
Orbit                object
Customer             object
Mission_Outcome      object
Landing_Outcome      object
dtype: object

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [55]:
unique_launch_sites = df['Launch_Site'].unique()
print(unique_launch_sites)

['CCAFS LC-40' 'VAFB SLC-4E' 'KSC LC-39A' 'CCAFS SLC-40']

In [9]:
%%sql
ALTER TABLE SPACEXTABLE RENAME COLUMN "Time (UTC)" TO '"Time (UTC)"';
ALTER TABLE SPACEXTABLE RENAME COLUMN "Booster_Version" TO '"Booster_Version"';
ALTER TABLE SPACEXTABLE RENAME COLUMN "Launch_Site" TO '"Launch_Site"';
ALTER TABLE SPACEXTABLE RENAME COLUMN "Payload" TO '"Payload"';
ALTER TABLE SPACEXTABLE RENAME COLUMN "PAYLOAD_MASS__KG_" TO '"PAYLOAD_MASS__KG_"';
ALTER TABLE SPACEXTABLE RENAME COLUMN "Orbit" TO '"Orbit"';
ALTER TABLE SPACEXTABLE RENAME COLUMN "Customer" TO '"Customer"';
ALTER TABLE SPACEXTABLE RENAME COLUMN "Mission_Outcome" TO '"Mission_Outcome"';
ALTER TABLE SPACEXTABLE RENAME COLUMN "Landing_Outcome" TO '"Landing_Outcome"';

 * sqlite:///my_data1.db
Traceback (most recent call last):
  File "C:\Users\RAVI TEJ\anaconda3\lib\site-packages\sql\magic.py", line 203, in execute
    conn.internal_connection.rollback()
AttributeError: 'Connection' object has no attribute 'rollback'

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['sqlite:///my_data1.db'])

In [10]:
%%sql
-- SELECT * FROM SPACEXTABLE
PRAGMA table_info(SPACEXTABLE);

 * sqlite:///my_data1.db
Traceback (most recent call last):
  File "C:\Users\RAVI TEJ\anaconda3\lib\site-packages\sql\magic.py", line 203, in execute
    conn.internal_connection.rollback()
AttributeError: 'Connection' object has no attribute 'rollback'

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['sqlite:///my_data1.db'])

In [11]:
%%sql
SELECT * FROM SPACEXTABLE LIMIT 5

 * sqlite:///my_data1.db
Traceback (most recent call last):
  File "C:\Users\RAVI TEJ\anaconda3\lib\site-packages\sql\magic.py", line 203, in execute
    conn.internal_connection.rollback()
AttributeError: 'Connection' object has no attribute 'rollback'

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['sqlite:///my_data1.db'])

In [12]:
%%sql

SELECT DISTINCT "Launch_Site"
FROM SPACEXTABLE

-- SELECT * FROM SPACEXTABLE

 * sqlite:///my_data1.db
Traceback (most recent call last):
  File "C:\Users\RAVI TEJ\anaconda3\lib\site-packages\sql\magic.py", line 203, in execute
    conn.internal_connection.rollback()
AttributeError: 'Connection' object has no attribute 'rollback'

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['sqlite:///my_data1.db'])

In [13]:
%%sql
SELECT DISTINCT "Launch_Site" FROM SPACEXTABLE

 * sqlite:///my_data1.db
Traceback (most recent call last):
  File "C:\Users\RAVI TEJ\anaconda3\lib\site-packages\sql\magic.py", line 203, in execute
    conn.internal_connection.rollback()
AttributeError: 'Connection' object has no attribute 'rollback'

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['sqlite:///my_data1.db'])


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [57]:
# Filter records where the 'Launch_Site' column starts with 'CCA'
filtered_records = df[df['Launch_Site'].str.startswith('CCA')]

# Display the first 5 records
filtered_records.head(5)

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing_Outcome
0,2010-04-06,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,2010-08-12,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,2012-05-22,07:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,2012-08-10,00:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,2013-01-03,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [59]:
# Filter records where the 'Customer' column is 'NASA (CRS)'
nasa_crs_payload = df[df['Customer'] == 'NASA (CRS)']

# Calculate the total payload mass carried by NASA (CRS) boosters
total_payload_mass = nasa_crs_payload['PAYLOAD_MASS__KG_'].sum()

# Display the total payload mass
print("Total Payload Mass Carried by NASA (CRS) Boosters:", total_payload_mass, "kg")

Total Payload Mass Carried by NASA (CRS) Boosters: 45596 kg

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [61]:
# Filter records where the 'Booster_Version' column is 'F9 v1.1'
booster_f9_v1_1_payload = df[df['Booster_Version'] == 'F9 v1.1']

# Calculate the average payload mass carried by booster version 'F9 v1.1'
average_payload_mass = booster_f9_v1_1_payload['PAYLOAD_MASS__KG_'].mean()

# Display the average payload mass
print("Average Payload Mass Carried by Booster Version 'F9 v1.1':", average_payload_mass, "kg")

Average Payload Mass Carried by Booster Version 'F9 v1.1': 2928.4 kg

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [62]:
# Filter records where the 'Landing_Outcome' column is 'Success (ground pad)'
successful_ground_pad_landings = df[df['Landing_Outcome'] == 'Success (ground pad)']

# Find the earliest date for successful ground pad landings
earliest_date = successful_ground_pad_landings['Date'].min()

# Display the earliest date
print("Date of First Successful Landing on Ground Pad:", earliest_date)

Date of First Successful Landing on Ground Pad: 2015-12-22

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [63]:
# Filter records where the 'Landing_Outcome' column is 'Success (drone ship)'
# and the 'PAYLOAD_MASS__KG_' column is within the specified range
filtered_boosters = df[(df['Landing_Outcome'] == 'Success (drone ship)') & 
                       (df['PAYLOAD_MASS__KG_'] > 4000) & 
                       (df['PAYLOAD_MASS__KG_'] < 6000)]

# Extract and display the names of the boosters
booster_names = filtered_boosters['Booster_Version'].unique()
print("Names of Boosters meeting the criteria:")
for name in booster_names:
    print(name)

Names of Boosters meeting the criteria:
F9 FT B1022
F9 FT B1026
F9 FT  B1021.2
F9 FT  B1031.2

### Task 7




##### List the total number of successful and failure mission outcomes

In [73]:
# Count the number of successful and failure mission outcomes
outcome_counts = df['Mission_Outcome'].value_counts()

# Display the total number of successful and failure mission outcomes
successful_outcomes = outcome_counts.get('Success', 0)
failure_outcomes = outcome_counts.get('Failure', 0)
print("Total number of Successful Mission Outcomes:", successful_outcomes)
print("Total number of Failure Mission Outcomes:", failure_outcomes)

Total number of Successful Mission Outcomes: 98
Total number of Failure Mission Outcomes: 0

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [66]:
# Find the maximum payload mass
max_payload_mass = df['PAYLOAD_MASS__KG_'].max()

# Use a subquery to filter the booster versions with the maximum payload mass
max_payload_booster_versions = df[df['PAYLOAD_MASS__KG_'] == max_payload_mass]['Booster_Version']

# Display the names of the booster_versions with the maximum payload mass
print("Booster Versions with Maximum Payload Mass:")
for version in max_payload_booster_versions:
    print(version)

Booster Versions with Maximum Payload Mass:
F9 B5 B1048.4
F9 B5 B1049.4
F9 B5 B1051.3
F9 B5 B1056.4
F9 B5 B1048.5
F9 B5 B1051.4
F9 B5 B1049.5
F9 B5 B1060.2
F9 B5 B1058.3
F9 B5 B1051.6
F9 B5 B1060.3
F9 B5 B1049.7

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 4, 2) as month to get the months and substr(Date,7,4)='2015' for year.**

In [67]:
# Convert the "Date" column to a datetime object
df['Date'] = pd.to_datetime(df['Date'])

# Extract the year and month from the "Date" column
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month_name()

# Filter records for the year 2015 and failure landing outcomes in drone ship
filtered_records = df[(df['Year'] == 2015) & (df['Landing_Outcome'] == 'Failure (drone ship)')]

# Select and display relevant columns
result = filtered_records[['Month', 'Landing_Outcome', 'Booster_Version', 'Launch_Site']]

# Print the records
print(result)

      Month       Landing_Outcome Booster_Version  Launch_Site
13  October  Failure (drone ship)   F9 v1.1 B1012  CCAFS LC-40
16    April  Failure (drone ship)   F9 v1.1 B1015  CCAFS LC-40

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [72]:
# Convert the "Date" column to a datetime object
df['Date'] = pd.to_datetime(df['Date'])

# Define the date range
start_date = '2010-06-04'
end_date = '2017-03-20'

# Filter records within the specified date range
filtered_records = df[(df['Date'] >= start_date) & (df['Date'] <= end_date)]

# Count the landing outcomes within the date range and rank them in descending order
landing_outcome_counts = filtered_records['Landing_Outcome'].value_counts().sort_values(ascending=False)

# Display the ranked landing outcomes
print("Ranked Landing Outcomes between", start_date, "and", end_date, "in Descending Order:")
print(landing_outcome_counts)

Ranked Landing Outcomes between 2010-06-04 and 2017-03-20 in Descending Order:
No attempt                10
Success (drone ship)       5
Success (ground pad)       5
Failure (drone ship)       5
Controlled (ocean)         3
Uncontrolled (ocean)       2
Failure (parachute)        1
Precluded (drone ship)     1
Name: Landing_Outcome, dtype: int64

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>